###############################################################################
# Ignore these files
###############################################################################
*.log*
*~
.*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
