###############################################################################
# Ignore these files
###############################################################################
*.log*
*.pem
*.tfstate
*.tfstate.*
*~
.*
Thumbs.db
kubeconfig_*
k8s

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.env.sample
!.gitignore
!.terraform.lock.hcl
