###############################################################################
# Ignore these files
###############################################################################
node_modules/
*.log*
*~
.*

###############################################################################
# Accept these files
###############################################################################

!.devcontainer/
!.dockerignore
!.editorconfig
!.gitignore
!.nvmrc
!.vscode/
